input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px;
    font-size: 1.75rem;
    display: inline-block;
    align-self: center;
}

input[type=submit] {
    margin-top: 4rem;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 70%;
    max-width: 300px;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #138d60;
}

.form-container {
    border-radius: 5px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 2px solid red;
    max-width: 900px;
    top: calc(3rem + 45px);
    background-color: rgb(211, 210, 210);
    margin: 3rem;
    align-self: center;

}

/* Floating column for labels: 25% width */
.col-25 {
    width: 25%;
    margin-top: 0.5rem;
}

/* Floating column for inputs: 75% width */
.col-75 {
    width: 75%;
    max-width: 500px;
    margin-top: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

legend {
    align-self: center;
    font-size: 2rem;
    color: black;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 2rem;
}




/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
    }
}